---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {
  background: #F5F5F5;
}

.logo {
  font-family: bebas-regular;
  font-size: 22px;
}

.logo a {
  width: 150px;
  height: 150px;
}

.logo .line {
  display: block;
  letter-spacing: 10px;
}
