---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {
  background: #F5F5F5;
}

h1.small{
		font-family: 'Helvetica Neue', 'Raleway', sans-serif;
		display: block;
		font-size: 24px;
		font-weight: lighter;
		margin-top: 20px;
		color: #636363;
}


nav {
  margin-top: 20px;
}

nav a {
  display: inline-block;
  padding: 10px 30px;
  color: #636363;
  text-decoration: none;
  border: 1px solid #AAA;
  font-weight: 300;
}

.logo a {
  font-family: bebas-regular;
  font-size: 24px;
  font-weight: bold;
  color: #F5F5F5;
}

.logo .line {
  display: block;
}

.logo .line span {
  width: 33.33%;
  margin: 0 8px;
}

.logo-outer{
  width:150px;
  height: 150px;
  background-color: #F5F5F5;
  border: solid 2px #d6d6d6;
}

.logo-inner{
  width: 140px;
  height: 140px;
  background-color: #d6d6d6;
  display: block;
  margin-top: -7px;
  margin-left: -12px;
}

.logo-inner-text {
  display: block;
  padding-top: 18px;
}
