---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {
  background: #F5F5F5;
}

h1.small{
		font-family: 'Helvetica Neue', 'Raleway', sans-serif;
		display: block;
		font-size: 24px;
		font-weight: lighter;
		margin: 50px inherit;
		color: #636363;
}

ul, li {
	list-style: none;
  padding: 0;
}

nav {
  margin-top: 20px;
  text-align: center;
  font-family: 'Helvetica Neue', 'Raleway';
  font-weight: 100;
  font-size: 14px;
  text-transform: uppercase;
}

nav a {
  display: inline-block;
  padding: 10px 30px;
  color: #636363;
  text-decoration: none;
  border: 1px solid #AAA;
  font-weight: 300;
}

.menu-nav li{
    padding-top: 45px;
}

.menu-nav a:hover{
	color: #FFF;
	background-color: #636363;
	border: 1px solid #636363;
  text-decoration: none;
}

li.logo {
  padding-top: 0;
}

.logo a {
  font-family: bebas-regular;
  font-size: 24px;
  font-weight: bold;
  color: #F5F5F5;
  text-decoration: none;
}

.logo a:hover{
	background-color: #636363;
	border: 2px solid #636363;
  text-decoration: none;
  color: #636363;
}

.logo .line span {
  width: 33.33%;
  margin: 0 8px;
}

.logo-outer{
  width:150px;
  height: 150px;
  background-color: #F5F5F5;
  border: solid 2px #d6d6d6;
}

.logo-inner{
  width: 140px;
  height: 140px;
  background-color: #d6d6d6;
  display: block;
  margin-top: -7px;
  margin-left: -27px;
}

.logo-inner-text {
  display: block;
  padding-top: 18px;
}

.posts p {
  max-width: 300px;
  margin: 100px auto;
}

.posts .title{
  background-color: #A1BAB7;
  font-family: bebas-regular;
  font-size: 36px;
  font-weight: bold;
  color: #636363;
}

.posts .title a {
  text-decoration: none;
  color: #636363;
}

.title .title-label {
  font-size: 16px;
  font-family: "Roboto Slab";
  font-weight: 100;
}

.posts .excerpt {
  background-color: #FFFFFF;
  font-family: "Roboto Slab";
  font-size: 16px;
  line-height: 1.8em;
  font-weight: 100;
}

.row-same-height {
  display: table;
  width: 100%;
}

.col-same-height {
  display: table-cell;
  float: none !important;
}

.col-align-middle {
  vertical-align: middle;
}

.posts p.read-more-label{
  margin-top: -80px;
}

.read-more-label a {
  text-decoration: none;
  color: #FD9C95;
}

.read-more-label a:hover{
  font-weight: bolder;
}
