---
# Only the main Sass file needs front matter (the dashes are enough)
---

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 72px;
	color: #636363;
}

h1{
	small {
		font-family: 'Helvetica Neue', 'Raleway';
		display: block;
		font-size: 30px;
		font-weight: 100;
		margin-top: 20px;
		color: #636363;
	}
}

.about-nav{		
    list-style: none;
    margin: 50px 0 0 0;
    padding: 0;
    text-align: center;
    font-family: 'Helvetica Neue', 'Raleway';
    font-weight: 100;
    font-size: 16px;
}

.about-nav li{
    display:inline;
    margin: 0 10px;
}

.about-nav a {
    display: inline-block;
    padding: 10px 30px;
    color: #636363;
    text-decoration: none;
    border: 1px solid #AAA;
}

.about-nav a:hover{
	color: #FFF;
	background-color: #636363;
	border: 1px solid #636363;
}

.section .row {
	height: 100%;
}

.text-area{
	background-color: #FFF;
	height: 100%;
	display: table;
}

.text-area .content-wrapper{
	display: table-cell;
	vertical-align: middle;
}

.section {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right bottom;
	color: #636363;
}

.intro{
	background-image: url('../content/images/back_lowerq.jpg');
}

.about{
	background-image: url('../content/images/front_lowerq.jpg');
}