---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'base';

$article-width: 75%;
$paragraph-width: 500px;

body {
  background: $smoke-white;
  color: $default-text-color;
}

h1 {
  font-family: $bebas-stack;
  font-size: 6em;
  font-weight: bold;
  text-transform: uppercase;
}

a{
  color: $salmon;
}

a:hover {
  color: $salmon;
}

.text-area {
  background: $white;
  margin: 50px auto;
  padding: 30px 10px;
  width: $article-width;
}

.paragraph-width {
  max-width: $paragraph-width;
}

.tags {
  font-family: $bebas-stack;
  font-size: 18px;
}

.tag {
  padding: 0 5px;
  color: $mint;
}

.article-separator {
  width: 100px;
  border-top: 2px solid #d6d6d6;
  margin: 50px auto;
}

article p {
  max-width: $paragraph-width;
  margin: 30px auto;
  text-align: justify;
  font-family: $font-long-text;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.8em;
}

article p:first-word{
  font-weight: bold;
}

.thanks {
  font-family: $font-long-text;
  font-size: 20px;
  font-weight: normal;
}

pre {
  font-size: 14px;
}
