---
title: Blog
permalink: /blog/
---

<!DOCTYPE html>
<html>

  {% include head.blog.overview.html %}

  <body>
    <div class="container">
      <header>
        <nav class="row">
          <ul class="menu-nav">
            <li class="col-sm-4"><a href="#">About</a></li>
            <li class="logo col-sm-4">
              <a href="#" class="center-block logo-outer img-circle">
                <span class="logo-inner img-circle">
                  <span class="logo-inner-text">
                    <span class="line">
                      <span>L</span><span>o</span><span>c</span>
                    </span>
                    <span class="line">
                      <span>T</span><span>A</span><span>N</span>
                    </span>
                    <span class="line">
                      <span>V</span><span>O</span><span>*</span>
                    </span>
                  </span>
                </span>
              </a>
            </li>
            <li class="col-sm-4"><a href="#">Contact</a></li>
          </ul>
        </nav>
      </header>
      <h1 class="text-center small">Mostly .NET, mostly for me</h1>
      <div class="posts">
          {% for post in site.posts %}
            <div class="row">
              <div class="row-same-height">
                <div class="title col-sm-6 col-same-height col-align-middle">
                  <p class="text-center"><a href="{{ post.url }}">{{ post.title }}</a></p>
                </div>
                <div class="excerpt col-sm-6 col-same-height col-align-middle">
                  <p>
                    {{ post.excerpt | truncatewords:30 | remove:'<p>' | remove: '</p>' }}
                  </p>
                  <!-- {{ post.excerpt | remove: '<p>' | remove: '</p>' }} -->
                </div>
              </div>
            </div>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
