---
title: Blog
permalink: /blog/
---

<!DOCTYPE html>
<html>

  {% include head.blog.overview.html %}

  <body>
    <div class="container">
      <header>
        <nav>
          <ul class="nav nav-justified text-uppercase">
            <li><a href="#">Home</a></li>
            <li class="logo">
              <a href="#" class="center-block logo-outer img-circle">
                <span class="logo-inner img-circle">
                  <span class="logo-inner-text">
                    <span class="line">
                      <span>L</span><span>o</span><span>c</span>
                    </span>
                    <span class="line">
                      <span>T</span><span>A</span><span>N</span>
                    </span>
                    <span class="line">
                      <span>V</span><span>O</span><span>*</span>
                    </span>
                  </span>
                </span>
              </a>
            </li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
      </header>
      <h1 class="text-center small">Just some thoughts</h1>
      <div>
      <ul>
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            {{ post.excerpt | truncatewords:30 }}
          </li>
        {% endfor %}
      </ul>
      </div>
    </div>
  </body>
</html>
