<div class="social">
  <a href="https://www.linkedin.com/in/loctanvo" alt="Link to Loc Tan Vo's LinkedIn profile">
    <i class="fa fa-linkedin fa-lg"></i>
  </a>
  <a href="https://twitter.com/loctanvo" alt="Link to Loc Tan Vo's Twitter profile">
    <i class="fa fa-twitter fa-lg"></i>
  </a>
  <a href="https://github.com/loctanvo" alt="Link to Loc Tan Vo's Github profile">
    <i class="fa fa-github-alt fa-lg"></i>
  </a>
  <a href="https://www.facebook.com/loctanvo" alt="Link to Loc Tan Vo's Facebook profile">
    <i class="fa fa-facebook fa-lg"></i>
  </a>
  <a href="http://instagram.com/loctanvo" alt="Link to Loc Tan Vo's Instagram profile">
    <i class="fa fa-instagram fa-lg"></i>
  </a>
  <a href="https://www.flickr.com/photos/loctanvo" alt="Link to Loc Tan Vo's Flickr profile">
    <i class="fa fa-flickr fa-lg"></i>
  </a>
  <a href="http://www.pinterest.com/loctanvo/" alt="Link to Loc Tan Vo's Pinterest profile">
    <i class="fa fa-pinterest fa-lg"></i>
  </a>
</div>
