/**
 * Default imports
 */

@import 'colors';
@import 'fonts';

pre, code {
  font-size: 14px;
  border: none;
  border-radius: 2px !important;
  background: #202020;
}

code {
  color: $salmon;
  padding: 6px;
  background: #EEE;
}

code .token.number{
  color: $mint;
  padding-right: 10px;
}
