/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}



/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer {
  height: 60px;
  background-color: #272727;
  padding-top: 22px;
  color: #35bdb2;
  font-family: "century gothic","trebuchet ms","verdana","arial", "helvetica", "sans-serif";
  font-size: 12px;
} 

/* BOOTSTRAP OVERRIDE
-------------------------------------------------- */
.jumbotron.jumbotron-custom{
  background-image: url('/content/site/img/header.jpg');
  background-size: cover;
  background-position: 50% 65%;
  background-repeat: no-repeat;
  color: #FFF;
  height: 400px;
}

.container.container-narrow{
  max-width: 500px;
}

.navbar-default {
  background-color: rgba(255,255,255,0);
  border: none;
  font-family: "century gothic","trebuchet ms","verdana","arial", "helvetica", "sans-serif";
}

.navbar-brand{
  border-width: 1px;
  border-style: solid;
  border-top: none;
}

.navbar-brand.brand:hover{
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  border: none;
}


/* CUSTOM STYLES
-------------------------------------------------- */

nav{
  text-transform: uppercase;
  font-family: "century gothic","trebuchet ms","verdana","arial", "helvetica", "sans-serif";
}

nav ul li{
  padding-top: 20px;
  border-top: solid 2px;
  border-color: transparent;
}

nav ul li:hover{
  border-color: inherit;
}

.jumbotron h1 {
  margin-top: 100px;
  text-shadow: 0px 0px 1px #aaa;
  font-size: 98px;
  letter-spacing: -3px;
}

.logo{  
  text-align: center;
  text-transform: uppercase;
}

.logo-small{
  width: 60px;
  font-size: 14px;
}

.logo-small span{
  width: 20px;
  height: 20px;
  float:left;
}