/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body section, body article {
-webkit-animation: appear 1200ms ease-in;
-webkit-animation-fill-mode: both;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -100px;
  /* Pad bottom by footer height */
  padding: 0 0 100px;
}

/* Set the fixed height of the footer here */
footer {
  height: 100px;
  background-color: #a0bab7;
  padding-top: 22px;
  color: #fff;
  font-family: "century gothic","trebuchet ms","verdana","arial", "helvetica", "sans-serif";
  font-size: 12px;
} 

/* BOOTSTRAP OVERRIDE
-------------------------------------------------- */
.jumbotron.jumbotron-custom{
  background-image: url('/content/site/img/header.image.jpg');
  background-size: cover;
  background-position: 50% 65%;
  background-repeat: no-repeat;
  color: #FFF;
  height: 400px;
  text-shadow: 0px 0px 1px #aaa;
}

.navbar-default {
  background-color: rgba(255,255,255,0);
  border: none;
  font-family: "century gothic","trebuchet ms","verdana","arial", "helvetica", "sans-serif";
}

.navbar-brand{
  border-width: 1px;
  border-style: solid;
  border-top: none;
}

.navbar-brand.brand:hover{
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  border: none;
}


/* CUSTOM STYLES
-------------------------------------------------- */

nav{
  text-transform: uppercase;
  font-family: "century gothic","trebuchet ms","verdana","arial", "helvetica", "sans-serif";
}

nav ul li{
  padding-top: 20px;
  border-top: solid 2px;
  border-color: transparent;
}

nav ul li:hover{
  border-color: inherit;
}

.jumbotron h1 {
  margin-top: 100px;
  font-size: 98px;
  letter-spacing: -3px;
}

.logo{  
  font-family: "century gothic", "open sans", "sans-serif";
  text-align: center;
  text-transform: uppercase;
}

.logo span{
  float:left;
}

.logo-small{
  width: 60px;
  font-size: 14px;
}

.logo-big{
  width: 180px;
  font-size:36px;
}

.logo-small span{
  width: 20px;
  height: 20px;
}

.logo-big span{
  width: 60px;
  margin: 5px 0;
}

.logo-within-container{
  margin: 76px auto;
  overflow: hidden;
}

.logo-container{
  height: 300px;
  margin: 20% auto;
  width: 300px;
  border-radius: 150px;
  background: #a0bab7;
  color: #fff;
  overflow: hidden;
}

header.border-top{
  border-top: solid 4px #a0bab7;
}

footer a{
  color: inherit;
  margin: 0 5px;
}

footer a:hover{
  color: #3a3a3a;
  text-decoration: none;
}

.container-narrow p{
  max-width: 550px;
  margin: 20px auto;
  padding: 0 10px;
}

.airy p{
  font-family: "museo_sans_500regular";
  line-height: 24px;
}

.custom-code{
  background-color: #272822;
  padding: 10px 0;
  margin: 10px 0;
}

.custom-code pre{
  margin: auto;
  padding: 0;
  background-color: inherit;
  border: none;
  border-radius: 0;
  display: table;
}

/* FULLPAGE BACKGROUND STYLES
-------------------------------------------------- */
.fullPage{
   position: relative;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

h1.big-heading{
  font-family: 'Arimo', 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: -3px;
  font-size: 98px;
  color: #444;
  margin: 10% auto 0px auto;
  text-transform: uppercase;
}

#day{
  background: #272727;
}

#day h1{
  color: #a0bab7;
}

#about a{
  color: #F66;
  font-size: 20px;
}

#day a:hover{
  background-color: #4a4a4a;
};

.center-block{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#day canvas{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.charts{
  padding: 0 15px;
  margin: 100px 0;
}

.chart-legend{
  position:absolute;
  top: 80px;
  color: #a0bab7;
  left: 50%;
}

.chart-legend h2{
  font-size: 72px;
}

.coder{
  margin-left:-72px;
}

.sleeper{
  margin-left:-68px;
}

.father{
  margin-left:-48px;
}