<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
      <div class="container-liquid">
        {{ content }}
      </div>
  </body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <!-- This following line is needed in case of using the default easing option or when using another
   one rather than "linear" or "swing". You can also add the full jQuery UI instead of this file if you prefer -->
  <script src="{{ "/content/lib/fullpage.js/vendors/jquery.easings.min.js" | prepend: site.baseurl }}"></script>


  <!-- This following line needed in the case of using the plugin option `scrollOverflow:true` -->
  <script src="{{ "/content/lib/fullpage.js/vendors/jquery.slimscroll.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/content/lib/fullpage.js/jquery.fullPage.js" | prepend: site.baseurl }}"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

	<script>
		$(document).ready(function() {
		    $('#fullpage').fullpage();
    		$('li a').first().click(function(){
    			alert('clicked');
    			$('.text-area.hidden').removeClass('hidden');
    		})
		});
	</script>
</html>
