  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <!-- Bootstrap -->
    <link href="/content/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
          <!--[if lt IE 9]>
            <script src="/content/lib/bootstrap/assets/js/html5shiv.js"></script>
            <script src="/content/lib/bootstrap/assets/js/respond.min.js"></script>
            <link rel="stylesheet" href="/content/lib/font-awesome/css/font-awesome-ie7.min.css">
            <![endif]-->
            <link rel="stylesheet" href="/content/lib/font-awesome/css/font-awesome.min.css">
            <!-- Custom CSS -->

            <link rel="stylesheet" href="/content/site/fonts/museo-300/stylesheet.css">
            <link rel="stylesheet" href="/content/site/fonts/museo-sans-500/stylesheet.css">
            <link href='http://fonts.googleapis.com/css?family=Arimo|Open+Sans:400,800' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="/content/site/main.css">
          </head>
          <body id="about">
            <div id="home" class="fullPage">
              <div class="container">
                <h1 class="logo-container">
                  <div class="logo logo-big logo-within-container">
                    <span>L</span>
                    <span>o</span>
                    <span>c</span>
                    <span>T</span>
                    <span>a</span>
                    <span>n</span>
                    <span>V</span>
                    <span>o</span>
                    <span>©</span>
                  </div>  
                </h1>
                <ul class="nav nav-pills nav-justified">
                  <li><a class="scroll" href="#day" ><span class="glyphicon glyphicon-chevron-down"></span></a></li>
                  <li><a class="scroll" href="#" ><span class="glyphicon glyphicon-home"></span></a></li>
                  <li><a href="/blog"><span class="glyphicon glyphicon-pencil"></span></a></li>
                </ul>
              </div>
            </div>
            <div id="day" class="fullPage">
              <div class="container">
                <h1 class="text-center big-heading">My Day</h1>
                <div class="charts">
                  <div class="row">
                    <div class="col-md-4">
                      <canvas id="coder" class="center-block" width="300px" height="300px"></canvas>
                      <div class="chart-legend"><h3>8+<small> HOURS Of CODING</small></h3></div>
                    </div>
                    <div class="col-md-4">
                      <canvas id="sleeper" class="center-block" width="300px" height="300px"></canvas>
                      <div class="chart-legend"><h3>6<small>-ish HOURS OF SLEEP</small></h3></div>
                    </div>
                    <div class="col-md-4">
                      <canvas id="father" class="center-block" width="300px" height="300px"></canvas>
                      <div class="chart-legend"><h3>ALWAYS<small> A FATHER</small></h3></div>
                    </div>
                  </div>
                </div>
                <ul class="nav nav-pills nav-justified">
                  <li><a class="scroll" href="#social" ><span class="glyphicon glyphicon-chevron-down"></span></a></li>
                  <li><a class="scroll" href="#home" ><span class="glyphicon glyphicon-home"></span></a></li>
                  <li><a class="scroll" href="#home"><span class="glyphicon glyphicon-chevron-up"></span></a></li>
                </ul>
              </div>
            </div>
            <div id="social" class="fullPage">
              <div class="container">
                <h1 class="text-center big-heading">Connect</h1>
                <ul class="nav nav-pills nav-justified">
                  <li><a href="/blog"><span class="glyphicon glyphicon-pencil"></span></a></li>
                  <li><a class="scroll" href="#home" ><span class="glyphicon glyphicon-home"></span></a></li>
                  <li><a class="scroll" href="#day"><span class="glyphicon glyphicon-chevron-up"></span></a></li>
                </ul>
              </div>
            </div>
            <script src="/content/lib/bootstrap/assets/js/jquery.js"></script>
            <script src="/content/lib/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="/content/lib/chart.js/Chart.min.js"></script>
            <script>
             $(".scroll").click(function(event){
               event.preventDefault();
           //calculate destination place
           var dest=0;
           if($(this.hash).offset().top > $(document).height()-$(window).height()){
            dest=$(document).height()-$(window).height();
          }else{
            dest=$(this.hash).offset().top;
          }
           //go to destination
           $('html,body').animate({scrollTop:dest}, 1000,'swing');
         });

          var coder = [
             {
              value : 8,
              color : "#72A2B2"
            },
             {
              value : 16,
              color : "#4a4a4a"
            }
            ];

            var sleeper = [
            {
              value : 6,
              color : "#FD5158"
            },
            {
              value : 18,
              color : "#4a4a4a"
            }];

            var father = [
            {
              value : 1,
              color : "#35BDB2"
            }];


            var options = {
              //String - The colour of each segment stroke
              segmentStrokeColor : "#272727",
              
              //Number - The width of each segment stroke
              segmentStrokeWidth : 1,
              
              //The percentage of the chart that we cut out of the middle.
              percentageInnerCutout : 95,
              
              //Number - Amount of animation steps
              animationSteps : 100,
              
              //String - Animation easing effect
              animationEasing : "easeOutBack"
            }

            var myDoughnut = new Chart(document.getElementById("coder").getContext("2d")).Doughnut(coder, options);  
            var myDoughnut = new Chart(document.getElementById("sleeper").getContext("2d")).Doughnut(sleeper, options);  
            var myDoughnut = new Chart(document.getElementById("father").getContext("2d")).Doughnut(father, options);  
</script>
</body>
</html>
