---
layout: default
---
<!-- Static navbar -->
<header class="navbar navbar-default navbar-fixed-top border-top">
	<nav class="navbar navbar-default container" role="navigation">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="brand navbar-brand" href="/">
	      	<div class="logo logo-small">
	            <span>L</span>
	            <span>o</span>
	            <span>c</span>
	            <span>T</span>
	            <span>a</span>
	            <span>n</span>
	            <span>V</span>
	            <span>o</span>
	            <span>©</span>
	    	</div>
	      </a>
	  </div>
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
	    <ul class="nav navbar-nav navbar-right">
	        <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
	        <li><a href="/blog/"><span class="glyphicon glyphicon-pencil"></span></a></li>
	    </ul>
	  </div><!-- /.navbar-collapse -->
	</nav>
</header>
<section>
{{ content }}
</section> 
